@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    color: #f8f8f8;
    background-color: hsl(287, 30%, 0%);
    background-image: radial-gradient(circle at top, hsl(287, 80%, 10%) 20%, hsl(287, 30%, 0%));
    background-repeat: no-repeat;
    height: 100vh; 
  }
}
